@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.eot');
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold.woff') format('woff'),
         url('fonts/Lato-Bold.ttf') format('truetype'),
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Medium';
    src: url('fonts/Lato-Medium.eot');
    src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Medium.woff') format('woff'),
         url('fonts/Lato-Medium.ttf') format('truetype'),
    font-style: normal;
}


@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype'),
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/Lato-Light.eot');
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Light.woff') format('woff'),
         url('fonts/Lato-Light.ttf') format('truetype'),
    font-style: normal;
}


/* ==========================================================================
   Index:         
  1. BASE STYLES   
    1.1 - Base
    1.2 - Typography
  2. STRUCTURE
    2.1 - Structure
    2.2 - Header
    2.3 - Content
    2.4 - Footer
  3. MAIN NAVIGATION
    3.1 - Custom Menu Primary
    3.2 - Mobile Menu
  4. COMPONENTS
    4.1 - Forms
    4.2 - Buttons
    4.3 - Icons
  5. MISCELLANOUS
  6. MOBILE MEDIA QUERIES
   ========================================================================== */




/*1.2 - Typography*/



body {
 
}

.section {
  padding: 80px 0px 80px;
}

.section h2 {
  font-size:40px;
  color:#202020;
  padding-bottom: 60px;
  font-family: 'Lato-Medium';
}

.section h2 span {
  padding-left:10px;
}

.section-background {
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
}

.position--right-top {
  position: absolute;
  top: -80px;
  right: 0;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-bottom-padding {
  padding-bottom: 0px;
}

.no-padding{
  padding-top:0px;
  padding-bottom:0px;
}

.separator {
    width: 100%;
    margin: 0;
}
.separator--sm {
    margin-top: 15px;
}
.separator--md {
    margin-top: 30px;
}
.separator--lg {
    margin-top: 50px;
}



h1,h2,h3,h4,p {
  font-family:'Lato-Bold';
}

p {
  font-size: 16px;
  color: #a7b2bd;
  font-family:'Lato-Medium';
}

p.lead {
  margin-top: -60px;
  font-family:'Lato-Regular';
  font-weight: 0;
}

h1 {
  font-size:45px;
  font-weight:700;
  line-height: 1.1;
}


h2 {
  font-size:18px;
  color:#202020;
}


h3 {
  font-size:27px;
  color:#0084ff;
  font-family:'Lato-Medium';
}


h4 {
  font-size:22px;
  color:#202020;
  font-family:'Lato-Medium';
}

/* 2.2 - Header */


.navbar {
  transition-duration: 0.3s;
  transition-delay: 0.3s
}

.navbar-default {
background: #0084ff;
}

.navbar-default .navbar-nav li a {
  font-family:'Lato-Bold';
  color: #fff;
  font-size:16px;
  padding-top:30px;
  padding-bottom: 30px;
}

a.navbar-brand.navbar-link { height: 100%; }


.navbar-dark .navbar-nav .nav-link {
  color: rgb(255,255,255);
}
.bg-dark {
  background-color: #0084ff!important;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}


/* SECTION intro */

.intro h1 {
  margin:75px 0px 60px;
}

.intro .intro-cta{
  margin-bottom:75px;
}

h3.old-way,  h3.new-way  {
  text-transform:uppercase;
  padding-bottom: 15px;
  font-size: 16px;
}


h3.old-way span,  h3.new-way span  {
  font-size:40px;
  padding-left:15px;
}

h3.old-way {
  color:#ff0042;
}

h3.new-way {
  color:#04d872;
}

ul.negative,ul.positive {
  margin-top:15px;
  margin-left:32px;
} 

ul.negative li.negative,ul.positive li.positive{
  font-family:'Lato-Medium';
  font-size:22px;
  padding:5px 45px;
  margin-bottom:15px;
  text-indent:15px;

  list-style:none;
  background-repeat:no-repeat;
}

li.negative {
  background-image:url('http://via.placeholder.com/40x40');
  color:#ff0042;
}

li.positive {
  background-image:url('http://via.placeholder.com/40x40');
}

/* SECTION clients */


.clients {
  background: rgba(1,118,229,0.1);
}

.clients .logo-wrapper {
  padding: 35px 0;
}

.hover-tab a:hover {
  color: #0056b3;
  text-decoration: none;
}


/* SECTION how it works */

.how-it-works {
 background: linear-gradient(#fff, #e5f2ff);
}


.how-it-works h3 {
  position: relative;
}

.how-it-works h3::after {
  border-bottom: 5px solid #0084ff;
  bottom: -15px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  width: 250px
}

.how-it-works span.step{
  color: #97b2bd;
  padding-right:15px;
}

.how-it-works-wrapper {
  margin-top: 100px;
  }



/* SECTION call to action */

.call-to-action {
  background: #0084ff;
}

.call-to-action h2{
  color:#fff;
}


.call-to-action .cta-wrapper {
  max-width: 940px;
  margin: auto;
}


/* 2.4 - Feature Highlights */

.feature-highlights {
 background: #f5faff;
}

.feature-highlights h4 {
  padding: 40px 0 12px 0;
}


/* SECTION feature index */

.feature-index{
background: #f5faff;
}

.card-block {
  padding: 30px;
}

.card-block h3 {
  color: #202020;
  font-size:29px;
}

.card-block p {
  color: #a7b2bd;
}


/* 2.4 - Footer */


.footer-bottom {
    background: #202020;
    height:80px;
    padding:20px 0px;
}
.copyright-text p {
    color: #ccc;
    margin-bottom:0px;
    padding-left:15px;
}
.legal li {
    display: inline-block;
    margin: 0 5px;
    padding-top: 11px;
}
.legal li a {
    color: #ccc; 
    padding-right: 15px;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}

li.logo-footer {
  display: inline-block;
  list-style:none;
  padding-top:0px;
}

ul.legal{
  margin-bottom:0;
  padding-left:0px;
}


/* 4.2 - buttons */

.btn-tbb{
  background-color: #0084ff;
  padding: 23px 20px 23px 23px;
  font-size: 20px;
  font-family:'Lato-Medium';
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}


.btn-inverse{
  background-color:#fff;
  color:#0084ff;
  padding: 23px 20px 23px 23px;
  font-size: 20px;
  font-family:'Lato-Medium';
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

.btn-tbb .icon-messenger-white, .btn-inverse .icon-messenger-blue  {
  float: left;
  width: 40px;
  height: 40px;
  margin-right:15px;
}

.btn-inverse .icon-messenger-blue {
  background: url('../css/sprite/sprite-filex1.png') no-repeat -360px -10px;
  width: 30px;
  height: 30px;
}

.btn-tbb .icon-messenger-white {
  background: url('../css/sprite/sprite-filex1.png') no-repeat -10px -10px;
  width: 30px;
  height: 30px;
}

/* 4.3 - icons */




/* 6.0 Media Queries for Mobile */

@media (min-width: 768px) {
  .navbar-scroll-custom {
    transform: translateY(-82px);
    transition-duration: 0.8s;
  }
}

@media (max-width: 768px) {
.navbar-brand {
  padding:0 15px;
  }
}
